{{#contentFor "pageScripts"}}
<script src="js/pages/homepage.js"></script>
<script>

</script>
{{/contentFor}}

<div class="jumbotron">
    <h1 style="text-align: center"> 🤖 Kho lời nhắc nè </h1><br />
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <a href="/?botworkId=0"><button class="btn btn-default btn-xs">
                        <h5><i class="fa fa-plus"></i> Thêm lời nhắc mới</h5>
                    </button></a>
            </div>
            <br />
            <div>
                <table id="table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <!-- <th>ConversationId</th> -->
                            <th>Message</th>
                            <th class="text-center">Tình trạng</th>
                            <th class="text-center">Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each works}}
                        <tr>
                            <td>{{name}}</td>

                            <!-- <td>{{conversationId}}</td> -->

                            <td>{{message}}</td>
                            <td class="text-center">
                                {{#if isEnabled}}
                                <span class="label label-success">Kích hoạt</span>
                                {{else}}
                                <span class="label label-danger">Tắt</span>
                                {{/if}}
                            </td>
                            <td class="text-center">
                                <span><a href="/?botworkId={{id}}"><i class="text-success fa fa-edit"></i></a></span>
                                <span><a onclick="removeBotWork('{{id}}')"><i
                                            class="text-danger fa fa-trash"></i></a></span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>