{{#contentFor "pageScripts"}}
<script src="js/pages/sendAnonymouseMessage.js"></script>
{{/contentFor}}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">
                    <i class="fa fa-user-secret"></i> Gửi tin nhắn ẩn danh
                </h4>
            </div>
            <div class="content">
                <form>
                    <div class="form-group">
                        <label>Địa chỉ nhận lời nhắn nè: (ConversationId) </label>
                        <input type="text" class="form-control" placeholder="Địa chỉ nhận lời nhắn..."
                            name="conversationId">
                    </div>
                    <div class="form-group">
                        <label>Nội dung lời nhắn: </label>
                        <textarea class="form-control" placeholder="Lời nhắn..." name="message" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Gửi ẩn danh</label>
                        <span class="checkbox checkbox-success radio-inline" style="margin-left:10px">
                            <input type="checkbox" name="isAnonymous" checked="checked">
                            <label for="isAnonymous"></label>
                        </span>
                    </div>

                    <button type="button" class="btn btn-success btn-fill pull-right"
                        onclick="sendMessage($('[name=conversationId]').val(),$('[name=message]').val(), $('[name=isAnonymous]').is(':checked'))">
                         Gửi <i class="fa fa-plane" aria-hidden="true"></i></button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>